# Virtual env
.venv

# Heavy data
data/*
**.csv
**.mid

# Logs from training
logs

# Trained models
model_checkpoint
**.pth
hw07/git-base-pokemon

# Configs
**.pylintrc

# System files
__pycache__

# Temp notebook
temp.ipynb

# Secure data
.env